@font-face {
  font-family: "Ace Poppins Critical";
  src: url("/fonts/ace-poppins-400-v1.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ace Poppins Critical";
  src: url("/fonts/ace-poppins-700-v1.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
